html, body {
    height: 100%;
    margin: 0;
}

.selection{
    display: flex;
    gap:12px;
}
button{
    background-color: aqua;
    border: black;
    border-radius: 12px;
    padding: 24px;
    font-size: 24px;
}
.playerChoice,.computerChoice{
    font-size: 24px;
}